UCOB_DATABASE_URL="postgresql://ucup:ucup123@localhost:5432/ucob"
UCOB_APP_BIND="127.0.0.1:3000"
UCOB_JWT_SECRET=wkwkwk123
UCOB_COOKIE_SECURE=false
UCOB_COOKIE_DOMAIN=.localhost
UCOB_ACCESS_TOKEN_EXP_MINUTES=15
