UCOB_DATABASE_URL="postgresql://ucup:ucup123@localhost:5432/ucob"
UCOB_APP_BIND="127.0.0.1:3000"
UCOB_JWT_SECRET=wkwkwk123
UCOB_COOKIE_SECURE=false
UCOB_COOKIE_DOMAIN=.localhost
UCOB_ACCESS_TOKEN_EXP_MINUTES=15
BR_PAKASIR_API_KEY=foobat
BR_PAKASIR_PROJECT_NAME=ucob

AWS_ACCESS_KEY_ID="foo bar"
AWS_SECRET_ACCESS_KEY="foo bar"
AWS_DEFAULT_REGION="ap-southeast-1"
